.TopBar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%l;
  background-color: rgb(0, 37, 52);
  
  padding: 10px;
}

.TopBar-home-button {
  align-self: center;
  border: 0px;
  background-color: transparent;
  color: white;
  font-size: 20px;
  /* margin-left: 20px; */
}