.MaskingCanvas {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.MaskingCanvas-body {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.MaskingCanvas-button-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

input[type=range][orient=vertical]
{
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */
    width: 8px;
    height: 175px;
    padding: 0 5px;
}