.AttributesBar {
  background-color: white;
  border-radius: 2px;
  padding: 20px;
  min-width: 200px;
  /* box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); */
}

.annotator-atrributes {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.train-atrributes {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

label {
  margin-top: 10px;
}